body{
  background-color:#B16E4B;
  font-family: cursive;
  font-size: 14px;

}

#container{
  width: 460px;
  margin: auto;
  border: 1px solid #cccccc;
  padding: 0px 20px 20px 20px;
  text-align: center;
  background: #FCF0CF;
  min-height: 400px
}

th,td{
  padding: 0px 20px 20px 20px;
  text-align: center;
}

td{
  border-bottom: 1px #ccc dashed;
  padding: 3px 0px;
}

li{
  text-align: left;
  padding: 3px 0px;
}